# --- DEV ---
# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd
.Python
env/
.venv/

# lint
ruff.toml
.ruff_cache/

# VsCode
.vscode/
.vscode-test/

# Environment variables
.env
.flaskenv

# Coverage reports
.coverage
coverage.*

# testing
.pytest_cache/
venv/
